@font-face {
    font-family: Gotham-light;
    src: url(../fonts/Gotham-Light.otf);
}
@font-face {
    font-family: Gotham-medium;
    src: url(../fonts/Gotham-Medium.otf);
}
@font-face {
    font-family: Gotham-book;
    src: url(../fonts/Gotham-Book.otf);
}
@font-face {
    font-family: Gotham-book-italic;
    src: url(../fonts/Gotham-BookItalic.otf);
}
@font-face {
    font-family: Gotham-black;
    src: url(../fonts/Gotham-Black.otf);
}
html, body {
    height: 100%;
}
body{
	padding-top: 75px;
	background-color: #FFF;
	font-family: "Gotham-light", sans-serif;
	background-image: none;
}
.navmenu-default, .navbar-default .navbar-offcanvas{
	background-color: #fff;
	overflow-x: hidden;
}

.row-li-tipo{
	/*margin-top:5px; margin-left:5px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #F0F0F0;
}

.act-card-img{
	padding-left: 0px;
}
.navmenu-nav{
	font-family: "Gotham-medium", sans-serif;
}
.navmenu-default .navmenu-nav>.active>a,
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a,
.navmenu-default .navmenu-nav>.active>a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a:hover,
.navmenu-default .navmenu-nav>.active>a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a:focus{
	background-color: #fff;
	font-weight: bolder;
}
p{
	font-size: 1em;
}
.panel-group .panel+.panel{
	margin-top: 0px;
}

.panel-group .panel{
	border-radius: 0px;
}
.panel-default{
	border-left: none;
	border-right: none;
}
.panel-default>.panel-heading{
	background-color: #f0f0f0;
	border-left: none;
	border-right: none;
	color: #009162;
}

.panel-default>.panel-heading.collapsed{
	background-color: #fff;
	color: #000;
}
.panel-title{
	font-size: 1em;
}

.panel-title a{
	font-size: 1em;
	font-weight: 400;
}
.panel-title a:hover{
	text-decoration: none;
}
.panel-default>.panel-heading{
	border-radius: 0px;
}

.filtro-title{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	font-size: 1.4em;
}

.navbar-turismo .navmenu-brand.filtro-title{
	font-size: 1.3em;
}

.navbar-muni{
	max-height: 40px;
  max-width: 70%;
  margin-left: 10px;
  padding-right: 10px;
	display: inline-block;
}

.no-side-padding{
  padding-left: 0;
  padding-right: 0;
}
.act-card-holder{
	/*width: 85%;
	margin: 0 auto;*/
	padding-left: 20px;
	min-height: 100px;
	margin-bottom: 20px;
}

.act-card-info{
	color: #000;
}
.act-card{
	/*width: 100%;*/
	/*height: 200px;*/
	width: 85%;
	margin: 0 auto;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
	/*padding-left: 40px;*/
}
.act-card .card-title{
	font-size: 1.4em;
	margin-left: 40px;
	text-align: left;
	text-transform: none;
	color: #2b8838;
	font-weight: 300;
}
.act-card .event-date{
	text-align: right;
	margin-left:-10px;
	margin-right: 10px;
	margin-top:30px;
	font-weight: 300;
	font-size: 1em;
	line-height: 1.3em;
	/*font-family: inherit;*/
	color: #A8B5B9;
}
.act-card .event-divider{
  height: 1px;
  width: 25px;
	margin-left: 40px;
	margin-top: -5px;
  background-color: #93A8AC;
	margin-bottom: 15px;
}

.act-card-info{
	text-transform: none;
	padding-right: 30px;
}

.evento-img-cont {
    width: 75px;
    height: 100px;
		margin-left: -20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.act-card-info{
	min-height: 120px;
	padding-top: 5px;
	/*background: #A8B5B9;*/
}

.act-card-icons{
	min-height: 30px;
}

.icon-act-card{
	margin-right: 10px;
	color: #93A8AC;
}

.event-divider{
  height: 1px;
  width: 25px;
  background-color: #93A8AC;
  /*margin-left: 15px;*/
	margin-top: 20px;
}

.padding-15{
	padding-left: 15px;
}
.no-margin-img{
	margin: 0;
}
.evento-card{
	margin-top: 20px;
}

.evento-card .event-title {
    font-size: 1.3em;
		margin-top: 20px;
}

.evento-card .event-date {
    font-size: 1em;
		color: #A8B5B9;
}

.navbar-turismo{
	background-color: #009162;
	color: #FFF;
	padding-top: 5px;
	width: 100%;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
}

.version-title{
	font-size: 1.1em;
	color: #FFF;
	text-align: center;
}
.version-number{
	font-size: 0.9em;
	color: #FFF;
	text-align: right;
}
.version-platform{
	font-size: 1.1em;
	color: #FFF;
	text-align: center;
}

.version-platform-link{
  color: #FFF;
  text-decoration: underline;
}
.version-platform-link:hover{
  color: #009162;
}
.version-platform-link.bg-green:hover{
  color: #43B6BA;
}
.navbar-turismo a{
	color: #2b8838;
	font-size: 20px;
}

.menu-img{
  background-color: rgba(0,0,0,.25);
  background-blend-mode: multiply;
  background-size: cover;
}

.img-menu-cultura{
	margin-top: 20px;
	margin-left: 5px;
	max-height: 50px;
}
.img-menu-muni{
	margin-top: 10px;
	margin-left: -7.5px;
}
.navbar-turismo .icon-bar{
	background-color: #FFF;
}
.navbar-turismo .navbar-toggle{
	float: left;
	margin-left: 2%;
	margin-right: 0px;
	z-index: 1000;
}
.navbar-turismo .navbar-toggle span{
	background-color: #FFF;
	border: 1px ;
}
.navbar-turismo .navmenu-brand{
	margin: 5px 0px;
	padding-left: 0;
	/*padding: 9px 0px;*/
	font-size: 1em;
	/*display: inline-block;*/
	text-transform: uppercase;
}
.navbar-turismo .navmenu-tags{
	color: #2b8838;
	font-size: 1em;
}
.navbar-turismo .navmenu-tags a{
	color: #2b8838;
	font-size: 1em;
}
.navbar-turismo .navmenu-search{
	float: right;
	display: inline-block;
	background-color: transparent;
	color: #FFF;
	border: none;
}
.navbar-turismo .navmenu-search:hover{
	border-radius: 50%;
	background-color: #fff;
	color: #000;
	border: 1px solid #fff;
}

.text-turismo-img{
	text-transform: uppercase;
	font-weight: 500;
}


div.circle-image{
	max-width: 100%;
	width:100%;
	height:auto;
	display:block;
	padding-top:100%;
	border-radius:50%;
	background-position: initial;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
div.circle-image-li{
	max-width: 80%;
	width:80%;
	height:auto;
	display:block;
	padding-top:80%;
	border-radius:50%;
	/*border-radius: 5px;*/
	border: 1px solid #f0f0f0;
	background-position: initial;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

h1{
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: 600;
}

.evento{
	padding: 5px 0px;
	color: #000;
	/*border-bottom: 1px solid #e0e0e0;*/
	text-decoration: none;
}

.evento .event-title{
	font-size: 1.3em;
}
.evento .event-date{
	font-size: 1em;
}
#event-name{
	font-size: 1.4em;
	color: #000;
	margin-top: 30px;
  text-transform: none;
	font-family: 'Gotham-medium', sans-serif;
}

#event-time{
	text-align: right;
	margin-right: 5px;
}
#event-date{
	text-align: center;
}

p#event-info{
	margin-top: 20px;
	color: #03171d;
  font-size: 1.2em;
}
#event-location{
	margin-bottom: 20px;
  font-size: 1.2em;
}
.event-tags{
  margin-top: 10px;
}
.event-tags .tag-holder{
	margin: 7.5px 5px;
  display: inline-block;
}
.event-tags .tag{
  font-size: 1.2em;
	padding:5px 10px;
	background-color: #009162;
	color: #FFF;
  border: 2px solid #009162;
	border-radius: 5px;
}
.info-evento .event-date{
	font-size: 1.1em;
	font-weight: 200;
}
.event-location{
  font-family: "Gotham-book", sans-serif;
}
.navmenu-nav .nombre-tipo{
	padding-top: 7.5px;
	margin-left: -15px;
	color: #777;
}

.event-date-time .event-date{
	font-size: 1.2em;
	padding-top: 5px;
	padding-bottom: 5px;
	margin:0;
	/*margin-left: 10px;*/
	margin-top: -5px;
	font-weight: 500;
	color: #06161b;
}

.app-dev{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	color: #fff;
	font-family: "Gotham-light";
}

.app-dev h1{
	font-size: 1.2em;
  text-transform: uppercase;
  margin:5px;
  margin-bottom: 10px;
	font-family: "Gotham-medium";
}
.app-dev h2{
	margin: 5px;;
	font-size: 1.1em;
  text-transform: uppercase;
}

#loading{
	text-align: center;
	display: inline;
}

.searchField{
	display: none;
}
.searchField input{
	padding-left: 10px;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000;
	border-top: 5px solid #009162;
	border-bottom: 5px solid #009162;
	border-left: 1px solid white;
	border-right: 1px solid white;
}
.searchField input:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow:none;
}
.page-prev{
	margin-left: 25px;
	color: #009162;
}

.page-next{
	margin-right: 25px;
	color: #009162;
}
.pager li>a, .pager li>span{
	background-color: transparent;
}

.share-btn {
  font-size: 1.2em;
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
}

.share-btn:hover {
  color: #eeeeee;
}

.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}

.share-btn.twitter     { background: #55acee; }
.share-btn.google-plus { background: #dd4b39; }
.share-btn.facebook    { background: #3B5998; }
.share-btn.stumbleupon { background: #EB4823; }
.share-btn.reddit      { background: #ff5700; }
.share-btn.linkedin    { background: #4875B4; }
.share-btn.whatsapp    { background: #00E584; }
.share-btn.email       { background: #444444; }


#share{
	margin: 10px 0px;
}
#share-icons{
	margin: 10px 0px;
}

calendar{
	margin: 10px 0px;
}
.navmenu-brand-simple{
	display: inline-block;
}


.about-turismo{
	background-color: #009162;
	padding-top: 80px;
}

.app-logo{
	height: 40%;
	min-height: 40%;
	background-color: #009162;
}

/*.logo-act{
  margin-top: 20px;
  margin-bottom: 20px;
}*/
.no-top-padding{
	padding: 0;
}

.logo-home{
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 70%;
	max-height: 50px;
}

.event-type{
	border-bottom: 2px solid #F3F3F3;
	min-height: 100px;
}

.event-type .title{
	font-size: 1.6em;
	color: #000;
	text-align: left;
	font-family: "Gotham-medium", sans-serif;
	margin-bottom: 5px;
}

.event-type .description{
	font-size: 1em;
	text-transform: none;
	color: #6D6D6D;
	line-height: 1.2em;
	text-align: left;
	font-family: "Gotham-light", sans-serif;
}


.event-type .enter{
	font-size: 2em;
	/*margin-left: -20px;*/
	line-height: 100px;
  color: #000;
}

.event-item{
	border-bottom: 2px solid #F3F3F3;
	min-height: 100px;
}

.event-item .image{
	height: 98px;
	width: 98px;
	background-color: #F3F3F3;
	background-size: cover;
	background-position: center center;
}

.event-item .title{
	font-size: 1.4em;
	color: #000;
	text-align: left;
	font-family: "Gotham-medium", sans-serif;
	margin-bottom: 2.5px;
	margin-top: 12.5px;
	text-transform: none;
}

.event-item .description{
	font-size: 1.2em;
	text-transform: none;
	color: #6D6D6D;
	line-height: 1.2em;
	text-align: left;
	font-family: "Gotham-light", sans-serif;
}

.event-item .date{
	font-size: 1.1em;
	text-transform: none;
	color: #6D6D6D;
	line-height: 1.2em;
	text-align: left;
	font-family: "Gotham-book-italic", sans-serif;
}

.side-navbar-title{
	height: 57px;
	background-color: #009162;
	width:100%;
}
.navbar-titulo{
  overflow-x: hidden;
  white-space: nowrap;
  margin-left: 15px;
}

.navbar-no-shadow{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow:none;
  border: none;
}

.body-act{
  background-color: #F7F7F7;
  padding-top: 56px;
}

.muni-logo-act{
  margin-bottom: 10px;
}
.turismo-cba-header{
  font-family: "Gotham-black", sans-serif;
  font-size: 1.6em;
  text-transform: uppercase;
  border-top: 2px solid #FFF;
  padding-top: 10px;
}

#event-flyer{
  margin-bottom: 10px;
}

.navbar-turismo-cba{
  font-family: "Gotham-black", sans-serif;
  text-transform: uppercase;
  text-align: right;
}
.navbar-turismo-cba.img-menu-cultura{
  font-size: 1em;
  text-align: left;
  color: #FFF;
}
@media (min-width: 0) {
  .navbar-turismo .navmenu-search{
  	margin-top: 10px;
  	padding: 2px 2px;
    font-size: 0.8em;
  }
  .navbar-toggle {
    display: block;
  }
	.navmenu-brand-corto{
		display: inline-block;
    padding-left: 15px !important;
    padding-top: 0;
	}
	.navmenu-brand-completo{
		display: none;
	}
	.filtro-title-completo{
		display: none;
	}
	.filtro-title-corto{
		display: block;
	}
  .navbar-muni{
    margin-top: 9px;
  }
}
@media(max-width:767px){
  .navbar-turismo-cba{
    font-size: 1em;
  }
}
@media(min-width:768px){
  .version-title{
    text-align: left;
  }
  .navbar-turismo .navmenu-search{
    margin-top: 6px;
    padding: 4px 4px;
    font-size: 1em;
  }
  .navbar-muni{
    margin-top: 6px;
  }
  .navmenu-brand-corto{
		display: none;
	}
	.navmenu-brand-completo{
		display: inline-block;
	}
  .navbar-turismo-cba{
    font-size: 1.2em;
  }
}
@media(min-width:992px){
  .version-platform{
    text-align: right;
  }
  .navbar-muni{
    margin-top: 3px;
  }
  .navbar {
    right: auto;
    /*background: none;*/
    border: none;
  }
  .canvas {
    padding: 0;
  }
	.filtro-title-completo{
		display: inline-block;
	}
	.filtro-title-corto{
		display: none;
	}
}
@media(min-width:1200px){
  .navbar-turismo-cba{
    font-size: 1.5em;
    margin-top: 10px;
  }
}

.navbar-title{
  font-family:'Gotham-Medium';
  font-size: 1.2em;
}


.center-img{
  display: block;
    margin-left: auto;
    margin-right: auto
}
